a {
  // text-decoration: none;
  color: #333;
}

p {
  line-height: 2.25;
}

$menuWidth: 200px;
$h1-height: 44px;
$h1-padding: 20px;

.content-block {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 100px;
  align-items: center;

  h2 {
    text-align: right;
  }
  .content {
    max-width: 700px;
    &.double-col {
      column-count: 2;
    }
    &.faux-double-col {
      width: 50%;
    }
    &.perfect-double-col {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 40px;
      p {
        margin: 0;
      }
    }
  }
  &.full-height {
    height: calc(100vh - #{$h1-height + 2 * $h1-padding});
  }
}